// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	font-family: 'Exo 2', sans-serif;
	margin-top: 210px;
	font-size: 65px;
}